<div class="container-fluid">
  <div class="row p-5">
      <div class="col-4">
        <h4>GET IN TOUCH</h4>
        <h5><i class="fa-solid fa-envelope"></i>asmaa@gmail.com</h5>
        <h5>  <i class=" fa-address-card"></i> 01077777777</h5>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-outline-light">CONTACT ME</button>

      </div>
      <div class="col-4" style="text-align: center;">
        <h5 ><i class="fa-brands fa-linkedin"></i>  <i class="fa-brands fa-facebook-square"></i> <i class="fa-brands fa-twitter"></i> </h5>
         <h6>copy right@<i class="fa-brands fa-github"></i>github</h6>

        </div>
        </div>
        </div>
