<div class="container-fluid bg-secondary d-flex justify-content-around align-items-center" style="height: 50vh;">
  <div class="row ">
    <div class="col-4 d-flex justify-content-around align-items-center">
      <h1>About me</h1>
    </div>
    <div class="col-8">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque distinctio nam quaerat quos nisi alias voluptate quas tempora recusandae quia. Maiores vero culpa ex autem repudiandae placeat reprehenderit dolores reiciendis.</h3>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque distinctio nam quaerat quos nisi alias voluptate quas tempora recusandae quia. Maiores vero culpa ex autem repudiandae placeat reprehenderit dolores reiciendis.</h3>
      <a download href="app.component.html" class="download-btn btn-lg bg-dark text-white " style="text-decoration: none;">Download Resume<i class="fa fa-downloud"></i></a>
    </div>
  </div>
</div>
